*{
    margin: 0;
    font-family: 'josefin sans', sans-serif;
}
body{
    background-image: url("D:\Users\Desktop\flight booking system\pngtree-d-illustration-of-airline-booking-app-for-buying-tickets-or-checking-picture-image_5822655.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    padding: 20px;
}

.fa-bars{
    opacity: 0%;
}
.fa-times{
    opacity: 0%;
}
.fa-plane{
    color: rgb(0,157,190);
}
nav{

    float: right;
    position: relative;
    padding: 0px;
    bottom: .5vh;
    margin-right:40px ;
}
li{
    display: inline ;
    margin: 10px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: font-size 0.5s;
}

a:hover{
    font-size: 25px;
    transition: 0.5s;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
@media(max-width: 650px){
    a{
        text-decoration: none;
        font-size: 20px;
        color: white;
        transition: font-size 0.5s;
        line-height: 50px;
    }
    nav{
        opacity: 0%;
        margin-top: 2vh;
        position: relative;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.500);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 90vh;
        top: 1vh;
        border-radius: 5px;
        right: 100%;
        transition:0.5s ;
    }nav.expand{ 
        right: 0%;
        transition: 0.5s;
        opacity: 100%;
    }
    li{
        display: block;
        position: relative;
        top : 25vh;
    }
    .fa-bars{
        font-size: 28px;
        position: relative;
        float: right;
        bottom: 96.5vh;
        margin-right: 40px;
        opacity: 100%;	
    }
    .fa-times{
        font-size: 28px;
        position: relative;
        float: right;
        bottom: 96.5vh;
        margin-right: 40px;
        opacity: 100%;
    }
}  
/* bqnner */

.center-img img{
	border-radius: 50%;
	margin:0px auto ;
	width: 10%;
    margin-top: 20px;
	display: block;
}
.banner{

    text-align: center;
    background-color: #55c2da69;
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 10%;
}   
.banner-text{
    font-size: large;
    padding: 10px;
    margin: 20px;
    color:#fff;
}
/* footer ------------------------------------------------------------------------------------------------------------------------------*/
footer{
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    background: #111;
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #eb2f06;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #eb2f06;
    transition: all 0.3s ease-in-out;
  }
  footer .right .admin{
    font-size: larger;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #eb2f06;
  }
  footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: #eb2f06;
  }
  footer .bottom{
    width: 100%;
    text-align: right;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: #eb2f06;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #eb2f06;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
    footer .content .right{
      margin-top: 40px;
    }
    
  }
/* 
form --------------------------------------------------------------------------------------------------------------------------------------
*/
.container {
  margin-top: 130px;
  text-transform: capitalize;
  position: relative;
  max-width: 700px;
  width: 100%;
  background: rgba(255, 255, 255, 0.732);
  margin-left: 400px;
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
  box-sizing: border-box;
  font-weight: bolder;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid rgb(88, 56, 250);
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

/* price cards ------------------------------------------------------------------------------------------*/
.content{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 150px;
  margin-bottom: 150px;
}
 .content .card{
  background: #fff;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 30px  30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.content .card .top{
  height: 130px;
  color: #fff;
  padding: 12px 0 0 0 ;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}

.content .card .top .title{
 font-size: 27px;
 font-weight: 600;
}
.content .card .top .price-sec{
  margin-top: -10px;
  font-weight: 600;
}
.content .card .top .price{
  font-size: 45px;
}
.content .card .info{
  font-size: 16px;
  margin-top: 20px;
}
.content .card .details .one{
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content .card .details .one::before{
  position: absolute;
  content: "";
  width: 100%;
  background: #ddd;
  height: 1px;
  left: 0;
  top: -12px;
  border-radius: 25px;
}
.content .card .details .one i{
  color: #2db94d;
}
.content .card .details i.fa-times{
  color: #cd3241;
}
.content .card button{
  outline: none;
  border: none;
  height: 42px;
  color: #fff;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
}
.content .one .top,
.content .one button{
  background: #14eb6e;
}
.content .two .top,
.content .two button{
  background: #e87130;
}
.content .three .top,
.content .three button{
  background: #11BCC3;
}
.content button:hover {
  filter: brightness(90%);
}
.content .one ::selection{
background: #8af5b6;
}
.content .two ::selection{
background:  #f2b08c;
}
.content .three ::selection{
background: #d0f9fb;
}
@media (max-width:1000px) {
   .content .card{
    background: #fff;
    width: calc(50% - 20px);
    margin-bottom: 30px;
}
}
@media (max-width:715px) {
 .content .card{
    width: 100%;
}
}